ul li {
  list-style: none;
  display: inline;
}
.signature-text {
  font-size: 12px;
  font-style: italic;
}
.avatar {
  border-radius: 50%;
  border: none;
}
body .content-single {
  text-align: justify;
}
html {
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
}
svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(54, 178, 255);
  font-size: 14px;
}
input {
  border: none;
}
i {
  color: white;
  padding: 5px;
}
#site-header {
  background: transparent;
  text-align: center;
}

#site-header h1 {
  padding: 20px;
  font-size:32px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}
.container {
  margin:0 auto;
}
#outer-sidebar {
  padding-left: 25px;
}
#site-sidebar {
  padding: 22px;
  background: #fff;
}
#site-content {
  background: #fff;
  padding: 22px;
}
#site-footer {
  margin: 0 5px;
  padding: 22px;
  clear:both;
  color: #444;
  text-align:center;
  font-size:12px;
  text-transform: uppercase;
}
li {
  list-style: none;
}
a {
  color: black;
}
.footer {
  position: relative;
}
